
body{
    font-family: 'Oswald', sans-serif;
    font-weight: 50;
    font-size: 10px;
    background-color: darkgray;
    text-align: center;
    border: 20px double #00ffff;
}

.titulo:hover{
    background-color: #00ffff;
transition: background-color 1s ease 0.3s;
} 
